<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Sem4.M3DemoServlet</display-name>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.phong.sem4.m3demoservlet.controller.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAjaxServlet</servlet-name>
        <servlet-class>com.phong.sem4.m3demoservlet.controller.AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAjaxServlet</servlet-name>
        <servlet-class>com.phong.sem4.m3demoservlet.controller.DeleteAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.phong.sem4.m3demoservlet.controller.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListStudentServlet</servlet-name>
        <servlet-class>com.phong.sem4.m3demoservlet.controller.ListStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListStudentServlet</servlet-name>
        <url-pattern>/list-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAjaxServlet</servlet-name>
        <url-pattern>/student-ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAjaxServlet</servlet-name>
        <url-pattern>/delete-ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/edit-student</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>list-student</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
